:root {
  --ipv_bg_color: rgba(0,0,0, .7);
  --ipv_close_btn: rgba(70, 99, 197, 0.7);
}

body {
  width: 100%;
  margin: 0;
  padding: 80px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  body {
    padding: 10px;
  }
}

#ipv_bg {
  width: 100%;
  height: 100%;
  background: var(--ipv_bg_color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9800;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
#ipv_bg.Active {
  opacity: 1;
  visibility: visible;
  transform: 0.5s;
}
#ipv_bg.Hide {
  animation: rotateAnim 0.5s linear forwards;
}
@keyframes rotateAnim {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
#ipv_bg img {
  max-width: 96%;
  max-height: 96%;
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#ipv_bg #ipv_right_btn {
  width: 80px;
  height: 80px;
  padding: 0.1em;
  background: var(--ipv_bg_color);
  background-image: url("./../images/ipv_right_btn.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center center;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 40px);
  right: calc(5% - 40px);
  opacity: 1;
  z-index: 9810;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  #ipv_bg #ipv_right_btn {
    width: 64px;
    height: 64px;
    background-size: 48px;
    top: calc(50% - 32px);
    right: calc(10% - 32px);
  }
}
#ipv_bg #ipv_right_btn.Hide {
  opacity: 0;
  transition: 0.5s;
}
#ipv_bg #ipv_left_btn {
  width: 80px;
  height: 80px;
  padding: 0.1em;
  background: var(--ipv_bg_color);
  background-image: url("./../images/ipv_left_btn.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center center;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(5% - 40px);
  opacity: 1;
  z-index: 9810;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  #ipv_bg #ipv_left_btn {
    width: 64px;
    height: 64px;
    background-size: 48px;
    top: calc(50% - 32px);
    left: calc(10% - 32px);
  }
}
#ipv_bg #ipv_left_btn.Hide {
  opacity: 0;
  transition: 0.5s;
}
#ipv_bg #ipv_close_btn {
  width: 80px;
  height: 80px;
  padding: 0.1em;
  background: var(--ipv_bg_color);
  background-image: url("./../images/ipv_close_btn.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center center;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  left: 75%;
  z-index: 9810;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  #ipv_bg #ipv_close_btn {
    left: auto;
    right: 5%;
  }
}
@media screen and (max-width: 640px) {
  #ipv_bg #ipv_close_btn {
    width: 64px;
    height: 64px;
    background-size: 48px;
  }
}
#ipv_bg #ipv_close_btn:hover {
  color: var(--ipv_close_btn);
  transition: 0.5s;
}
#ipv_bg #ipv_close_btn.Click {
  transform: rotate(720deg);
  transition: 0.5s;
}

#main_container {
  width: 800px;
  border: 1px solid gray;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  #main_container {
    width: 100%;
  }
}

.ipv_container {
  display: flex;
  align-items: flex-end;
}

.ipv {
  margin: 8px;
  padding: 4px;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.ipv::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./../images/ipv_zoom.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 16px;
  bottom: 16px;
  background-size: 12%;
}
.ipv img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */