:root {
  --ipv_bg_color: rgba(0,0,0, .7);
  --ipv_btn_hover: rgba(70, 99, 197, 0.7);
  --ipv_btn_pc_size: 50px;
  --ipv_btn_sp_size: 36px;
  --ipv_zoom_x: 40%;
  --ipv_zoom_y: 40%;
  --ipv_magnification: 1.2;
}

body {
  width: 100%;
  margin: 0;
  padding: 80px;
  box-sizing: border-box;

  @media screen and (max-width: 1200px) {
    padding: 10px;
  }
}

#ipv_bg {
  width: 100%;
  height: 100%;
  background: var(--ipv_bg_color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9800;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: .5s;

  &.Active {
    opacity: 1;
    visibility: visible;
    transform: .5s;
  }

  &.Hide {
    animation: rotateAnim .5s linear forwards;
  }

  @keyframes rotateAnim{
    from{
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(180deg);
    }
  }

  #ipv_prev, #ipv_next, img#ipv_main {
    max-width: 96%;
    max-height: 96%;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .ipv_initialize {
    position: absolute;
    right: 200%;
  }

  #ipv_prev {
    right: 200%;
    z-index: 8000;
  }

  #ipv_next {
    left: 200%;
    z-index: 8000;
  }

  img#ipv_main {
    left: 0;
    right: 0;
    z-index: 9000;
  }

  #ipv_right_btn {
    width: var(--ipv_btn_pc_size);
    height: var(--ipv_btn_pc_size);
    padding: .1em;
    background: var(--ipv_bg_color);
    background-image: url('./../images/ipv_right_btn.svg');
    background-repeat: no-repeat;
    background-size: calc(var(--ipv_btn_pc_size) - 18px);
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - calc(var(--ipv_btn_pc_size) / 2));
    right: calc(5% - calc(var(--ipv_btn_pc_size) / 2));
    opacity: 1;
    z-index: 9810;
    transition: .5s;
    cursor: pointer;

    &.Disable {
      opacity: .25;
//      pointer-events: none;
    }

    @media screen and (max-width: 640px) {
      width: var(--ipv_btn_sp_size);
      height: var(--ipv_btn_sp_size);
      background-size: calc(var(--ipv_btn_sp_size) - 12px);
      top: calc(50% - calc(var(--ipv_btn_sp_size) / 2));
      right: calc(10% - calc(var(--ipv_btn_sp_size) / 2));
    }

    &.Hide {
      opacity: 0;
      transition: .5s;
    }
  }

  #ipv_left_btn {
    width: var(--ipv_btn_pc_size);
    height: var(--ipv_btn_pc_size);
    padding: .1em;
    background: var(--ipv_bg_color);
    background-image: url('./../images/ipv_left_btn.svg');
    background-repeat: no-repeat;
    background-size: calc(var(--ipv_btn_pc_size) - 18px);
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - calc(var(--ipv_btn_pc_size) / 2));
    left: calc(5% - calc(var(--ipv_btn_pc_size) / 2));
    opacity: 1;
    z-index: 9810;
    transition: .5s;
    cursor: pointer;

    &.Disable {
      opacity: .25;
//      pointer-events: none;
    }

    @media screen and (max-width: 640px) {
      width: var(--ipv_btn_sp_size);
      height: var(--ipv_btn_sp_size);
      background-size: calc(var(--ipv_btn_sp_size) - 12px);
      top: calc(50% - calc(var(--ipv_btn_sp_size) / 2));
      left: calc(10% - calc(var(--ipv_btn_sp_size) / 2));
    }

    &.Hide {
      opacity: 0;
      transition: .5s;
    }
  }

  #ipv_close_btn {
    width: calc(var(--ipv_btn_pc_size) + 8px);
    height: calc(var(--ipv_btn_pc_size) + 8px);
    padding: .1em;
    background: var(--ipv_bg_color);
    background-image: url('./../images/ipv_close_btn.svg');
    background-repeat: no-repeat;
    background-size: calc(var(--ipv_btn_pc_size) - 18px);
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: 75%;
    z-index: 9810;
    transition: .5s;
    cursor: pointer;

    @media screen and (max-width: 1280px) {
      left: auto;
      right: 5%;      
    }
    @media screen and (max-width: 640px) {
      width: var(--ipv_btn_sp_size);
      height: var(--ipv_btn_sp_size);
      background-size: calc(var(--ipv_btn_sp_size) - 12px);
    }

    &:hover {
      background: var(--ipv_btn_hover);
      background-image: url('./../images/ipv_close_btn.svg');
      background-repeat: no-repeat;
      background-size: calc(var(--ipv_btn_pc_size) - 18px);
      background-position: center center;
      transition: .5s;
    }

    &.Click {
      transform: rotate(720deg);
      transition: .5s;
    }
  }

  #ipv_zoom_btn {
    width: calc(var(--ipv_btn_pc_size) + 8px);
    height: calc(var(--ipv_btn_pc_size) + 8px);
    padding: .1em;
    background: var(--ipv_bg_color);
    background-image: url('./../images/ipv_zoom.svg');
    background-repeat: no-repeat;
    background-size: calc(var(--ipv_btn_pc_size) - 18px);
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    z-index: 9910;
    transition: .5s;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      display: none;
    }

    &:hover {
      background: var(--ipv_btn_hover);
      background-image: url('./../images/ipv_zoom.svg');
      background-repeat: no-repeat;
      background-size: calc(var(--ipv_btn_pc_size) - 18px);
      background-position: center center;
      transition: .5s;
    }

    &.Active {
      background: var(--ipv_btn_hover);
      background-image: url('./../images/ipv_zoom.svg');
      background-repeat: no-repeat;
      background-size: calc(var(--ipv_btn_pc_size) - 18px);
      background-position: center center;
      transition: .5s;
    }
  }

  #ipv_temp_img {
    display: none;
  }
  
  #ipv_zoom_viewer {
    width: var(--ipv_zoom_x);
    height: var(--ipv_zoom_y);
    border: 2px solid var(--ipv_btn_hover);
    box-sizing: border-box;
    background-repeat: no-repeat;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 9900;
    position: absolute;
    pointer-events: none;
    display: none;
  } 
}

#main_container {
  width: 800px;
  border: 1px solid gray;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.ipv_container {
  display: flex;
  align-items: flex-end;
}

.ipv {
  margin: 8px;
	padding: 4px;
  text-align: center;
	display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('./../images/ipv_zoom.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 16px;
    bottom: 16px;
    background-size: 12%;
  }

  img {
		width: auto;
		max-width: 100%;
		max-height: 100%;
    transition: .5s;
	}
}